.container {
    display: flex;
    justify-content: flex-end;
    padding: 1.2em 0;
    padding-right: 5em;
    background-color: #1f1f1f;
    background: radial-gradient(circle, #002226, #1f1f1f);
    /* background: radial-gradient(circle, #322538, #1f1f1f); */
}

.treat_button {
    font-size: 2.7vmin;
    appearance: none;
    background: linear-gradient(to bottom, #00b4cc, #a989e8);
    border: none;
    color: #fff;
    border-radius: 2em;
    padding: 0.4em 1.5em;
    overflow: hidden;
    user-select: none;
    position: relative;
    cursor: pointer;
    z-index: 50;
    box-shadow: 0 0 1em 0 rgba(white, 0.2);
    transition: transform 0.3s cubic-bezier(0.5, 0, 0.5, 1), box-shadow 0.2s;
    outline: none;
}

.treat_button:hover {
    /* color: #322538; */
    background: #33d9ef;
    box-shadow: 0 0 1em 0 rgba(#fff, 0.3);
}
.treat_button :active {
    transform: scale(0.8) translateY(10%);
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}
